body {
  position: relative;
  background: url('../images/QFxn9e.jpg') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 200px;
  color: #fff;
  font-family: 'Montserrat';
  height:100vmax;
}

h1{
	color: #00373a;
	text-align: center;
}