<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Rented Games</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/application.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/navigation.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/table.css}"/>
</head>
<body>
	<!--HamBurger Icon-->
	<div class="bars" id="nav-action">
		<span class="bar"> </span>
	</div>

	<!--Navbar Links-->
	<nav id="nav">
		<ul>
			<li class="shape-circle circle-one"><a href="/viewAll">View
					All</a></li>
			<li class="shape-circle circle-two"><a href="/inputGame">Add
					New Game</a></li>
			<li class="shape-circle circle-three"><a href="/customerView">Customer
					View</a></li>
			<li class="shape-circle circle-four"><a href="/index.html">Home</a>
			</li>
		</ul>
	</nav>
	<script type="text/javascript" th:src="@{/js/navigation.js}"></script>

	<!--Main Body Content-->
	<article class="container">
		<h1>Games Currently Out</h1>
		<form>
			<table class="data">
				<tr>
					<th>Title</th>
					<th>Genre</th>
					<th>Number of Players</th>
					<th>Platform</th>
					<th>Quantity</th>
					<th>Checked Out</th>
					<th>Last Check Out Date</th>
				</tr>
				<tr th:each="currentGame : ${games}">
					<td th:text="${currentGame.title}" />
					<td th:text="${currentGame.genre}" />
					<td th:text="${currentGame.players}" />
					<td th:text="${currentGame.platform}" />
					<td th:text="${currentGame.quantity}" />
					<td th:text="${currentGame.checkedOut}" />
					<td th:text="${currentGame.checkOutDate}"/td>
				</tr>
			</table>
		</form>
	</article>
	<footer class="footer">
		<h3>Video Game Library</h3>
		<p>Aleksander Brown, Jacob Tunning, Michael Smith, Kasey Marron</p>
	</footer>

</body>
</html>