<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer View</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/application.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/navigation.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/table.css}"/>
</head>
<body>
	<!--HamBurger Icon-->
	<div class="bars" id="nav-action">
		<span class="bar"> </span>
	</div>

	<!--Navbar Links-->
	<nav id="nav">
		<ul>
			<li class="shape-circle circle-one"><a th:href="@{viewAll}">View
					All</a></li>
			<li class="shape-circle circle-two"><a th:href="@{inputGame}">Add
					New Game</a></li>
			<li class="shape-circle circle-three"><a th:href="@{checkedOutView}">Checked Out
					Games</a></li>
			<li class="shape-circle circle-four"><a th:href="index.html">Home</a>
			</li>
		</ul>
	</nav>
	<script type="text/javascript" th:src="@{/js/navigation.js}"></script>

	<!--Main Body Content-->
	<article class="container">
		<h1>Available Video Games</h1>
		<form>
			<table class="data">
				<tr>
					<th>Title</th>
					<th>Genre</th>
					<th>Number of Players</th>
					<th>Platform</th>
					<th>Quantity</th>
					<th>Checked Out</th>
				</tr>
				<tr th:each="currentGame : ${games}">
					<td th:text="${currentGame.title}" />
					<td th:text="${currentGame.genre}" />
					<td th:text="${currentGame.players}" />
					<td th:text="${currentGame.platform}" />
					<td th:text="${currentGame.quantity}" />
					<td></td>
					<td><a th:href="@{/checkedOut/{id}(id=${currentGame.id})}">Check
							Out</a></td>
					<td><a th:href="@{/return/{id}(id=${currentGame.id})}">Return</a></td>
				</tr>
			</table>
		</form>
	</article>

	<footer class="footer">
		<h3>Video Game Library</h3>
		<p>Aleksander Brown, Jacob Tunning, Michael Smith, Kasey Marron</p>
	</footer>
</body>
</html>