<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer View</title>
</head>
<body>
	<form>
		<table>
			<tr th:each="currentGame : ${games}">
				<td th:text="'Title:' + ${currentGame.title} + ',  '"/>
				<td th:text="'Genre:' + ${currentGame.genre} + ',  '"/>
				<td th:text="'Number of Players:' + ${currentGame.players} + ',  '"/>
				<td th:text="'Platform:' + ${currentGame.platform} + ',  '"/>
				<td th:text="'Quantity:' + ${currentGame.quantity} + ',  '"/>
				<td th:text="'Checked Out:' + ${currentGame.checkedOut}"/>
				<td></td>
				<td><a th:href="@{/checkedOut/{id}(id=${currentGame.id})}">Check Out</a></td>
			</tr>
		</table>
	</form>
	<button onclick="window.location.href='../inputGame'">Add a new Game</button>
	<button type="button" onclick="window.location.href='viewAll'">View All Games</button>
</body>
</html>