<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Rented Games</title>
</head>
<body>
	<form>
		<table>
			<tr th:each="currentGame : ${games}">
				<td th:text="${currentGame.id}"/>
				<td th:text="${currentGame.title}"/>
				<td th:text="${currentGame.genre}"/>
				<td th:text="${currentGame.players}"/>
				<td th:text="${currentGame.platform}"/>
				<td th:text="${currentGame.checkedOut}"/>
				<td><a th:href="@{/checkedOut/{id}(id=${currentGame.id})}">Check Out</a></td>
				<td><a th:href="@{/return/{id}(id=${currentGame.id})}">Return</a></td>
			</tr>
		</table>
	</form>
	<button onclick="window.location.href='../inputGame'">Add a new Game</button>
</body>
</html>